<h1>Search for a recipe</h1>
<!--Searched recipe info: -->
<form method="POST" action="/search">
ID:<input type="text" name="std_ID" placeholder="Enter searched recipe ID">
<button>Search</button>
</form>
